div.body h1 {
    margin-bottom: 10pt;
    padding-bottom: 10pt;
    font-size: 350%;
}
div.body h2 { font-size: 250%; }
div.body h3 { font-size: 180%; }
div.body h4 { font-size: 130%; }
div.body h5 { font-size: 100%; }
div.body h6 { font-size: 100%; }

li.toctree-l1 {
    padding-bottom: 7pt;
}
